body {
    display: block;
    background-color: rgb(85, 82, 82);
}

#sidebar {
    width: 20%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
    bottom: 0;
}

.container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: -15px;
    overflow: auto;
}

img {
    width: 80px;
    height: 80px;
    margin: 3%;
    border-radius: 45%;
}

.card {
    display: flex;
    border-radius: 0.5vw;
}

.card div {
    margin: 2% 10% 2% 0;
    background-color: rgb(211, 203, 203);
    width: 100vw;
    border-radius: inherit;
    padding: 1vw;
}

.card:hover {
    background-color: rgb(143, 138, 138);
}

.main {
    margin-left: 20.2%;
    background: url("/img/background.jpg") no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    width: 81%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.main img {
    width: 50px;
    height: 50px;
}

.head {
    margin: 0;
    top: 0;
    width: 100vw;
    background-color: rgb(85, 82, 82);
    background-image: none;
    position: fixed;
    border-bottom: 0.3vh solid white;
    display: none;
    bottom: initial;
}

.head img {
    margin: 0%;
    width: 100px;
    height: 100px;
    border-radius: 0;
}

.head div {
    margin: 5vh;
    font-size: 13pt;
    color: white;   
}

#main-body {
    margin-top: 9.5%;
    display: none;
}

.message {
    display: flex;
    align-items: center;
    margin: 3vh 0 1vh 0;
}

.to {
    justify-content: flex-end;
    order: 3;
    text-align: right;
}

.to img {
    order: 2;
}

.message-text {
    padding: 1%;
    border-radius: 10px;
}

.to .message-text {
    margin: 0 0 0 10vw;
    background-color: antiquewhite;
}

.from .message-text {
    margin: 0 10vw 0 0;
    background-color: rgb(225, 216, 228);
}
